{% extends "base.html" %}
{% block form %}
<form method="POST" class="uk-form-stacked" action="/select_yaml">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">Select</label>
        <div class="uk-form-controls">
            <select name="yaml_file" class="uk-select" id="form-stacked-select">
              {% for item in data %}
                <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit">Submit</button>
{% endblock form %}
